:root {
    --theme-1: #0A369D;
    --theme-2: #4472CA;
    --theme-3: #5E7CE2;
    --theme-4: #92B4F4;
    --theme-5: #CFDEE7;
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('assets/fonts/eot/IRANSansWeb(FaNum)_Black.eot');
    src: url('assets/fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('assets/fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('assets/fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('assets/fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('assets/fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('assets/fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('assets/fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('assets/fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('assets/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('assets/fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('assets/fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('assets/fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('assets/fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('assets/fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('assets/fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('assets/fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('assets/fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('assets/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('assets/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('assets/fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('assets/fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('assets/fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('assets/fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('assets/fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('assets/fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('assets/fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

*:not(.fa) {
    font-family: IRANSans !important;
}



.bg-theme-1 {
    background-color: var(--theme-1) !important;
}

.bg-theme-2 {
    background-color: var(--theme-2) !important;
}

.bg-theme-3 {
    background-color: var(--theme-3) !important;
}

.bg-theme-4 {
    background-color: var(--theme-4) !important;
}

.bg-theme-5 {
    background-color: var(--theme-5) !important;
}

.text-1 {
    color: var(--theme-1) !important;
}

.text-2 {
    color: var(--theme-2) !important;
}

.text-3 {
    color: var(--theme-3) !important;
}

.text-4 {
    color: var(--theme-4) !important;
}

.text-5 {
    color: var(--theme-5) !important;
}

.text-success {
    color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}

.border-theme-1 {
    border-color: var(--theme-1) !important;
}

.border-theme-2 {
    border-color: var(--theme-2) !important;
}

.border-theme-3 {
    border-color: var(--theme-3) !important;
}

.border-theme-4 {
    border-color: var(--theme-4) !important;
}

.border-theme-5 {
    border-color: var(--theme-5) !important;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

.mn-1 {
    margin: -1rem !important;
}

.header-footer {
    height: 4rem !important;
}

.page-content {
    height: calc(100vh - 8rem) !important;
    position: fixed;
    top: 4rem;
    padding: 1rem;
    direction: rtl;
    overflow-y: scroll;
}