<app-header title="مرور لغات"></app-header>

<div class="page-content">
    <div *ngFor="let quote of quotes" class="mb-2 border rounded-1 p-3">
        <h5 class="ltr d-flex mb-2 text-1">
            <span class="w-100">{{ quote.Content }}</span>
            <i class="fa fa-eye text-5" *ngIf="!quote.showTrans" (click)="quote.showTrans =  true"></i>
        </h5>
        <h6 class="rtl text-4" *ngIf="quote.showTrans">{{ quote.Trans }}</h6>

        <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="setLeitnerType(quote.ID, type.EASY)">آسان</button>
            <button type="button" class="btn btn-primary" (click)="setLeitnerType(quote.ID, type.MEDIUM)">متوسط</button>
            <button type="button" class="btn btn-primary" (click)="setLeitnerType(quote.ID, type.HARD)">سخت</button>
        </div>

    </div>
</div>